---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import LinkEnhancer from "@components/LinkEnhancer.astro";
import { SITE, BLOGROLL } from "@consts";
import { Content as BlogrollContent } from "../content/blogroll.md";
---

<PageLayout title={`${BLOGROLL.TITLE} | ${SITE.NAME}`} description={BLOGROLL.DESCRIPTION}>
  <Container>
    <div class="space-y-8">
      <h1 class="animate font-semibold text-2xl text-black/90 dark:text-white/90">
        {BLOGROLL.TITLE}
      </h1>
      <article class="animate prose dark:prose-invert max-w-none">
        <BlogrollContent />
      </article>
    </div>
  </Container>

  <LinkEnhancer />
</PageLayout>
