<button
    id="back-to-top"
    type="button"
    aria-label="Back to top"
    class="site-focus-ring group fixed right-4 bottom-4 z-50 inline-flex size-12 items-center justify-center rounded-2xl border border-black/12 text-[#706c64] hover:text-[#292827] focus-visible:outline-none focus-visible:ring-2 dark:border-white/12 dark:text-[#9d968b] dark:hover:text-[#d8d3ca] sm:right-6 sm:bottom-6"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        aria-hidden="true"
        class="size-5 stroke-2 fill-none stroke-current rotate-90 drop-shadow-[0_1px_1px_rgba(255,255,255,0.18)] dark:drop-shadow-[0_1px_1px_rgba(0,0,0,0.35)]"
    >
        <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-2 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
        />
        <polyline
            points="12 5 5 12 12 19"
            class="translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
        />
    </svg>
</button>
