---
import Container from "@components/Container.astro";
import YearProgress from "@components/YearProgress.astro";
import { SITE } from "@consts";

const currentYear = new Date().getFullYear();
---

<footer class="animate">
    <Container>
        <YearProgress />

        <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
            <div class="animate leading-relaxed text-[var(--site-color-text-muted)]">
                <a href="/" class="font-bold">{SITE.NAME}</a>
                {" | "}
                &copy; 2024 ~ {currentYear}
                {" · "}
                <a href="/changelog" class="font-bold underline">Changelog</a>
                {" · "}
                <a href="/rss.xml" class="font-bold underline">RSS</a>
            </div>
            <div class="animate leading-relaxed text-[var(--site-color-text-muted)] sm:text-right">
                Power by{" "}
                <a href="https://astro.build/" class="font-bold text-base">Astro</a>
                {" & "}
                <a href="https://github.com/markhorn-dev/astro-nano" class="font-bold text-base"
                    >Astro Nano</a
                >
            </div>
        </div>
    </Container>
</footer>
