---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import YearProgress from "@components/YearProgress.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>

    <YearProgress />

    <div class="flex justify-between items-center">
      <div class="animate">
        <a href="/" class="font-bold text-stone-800 dark:text-stone-300">{SITE.NAME}</a>
        {`|`}
        &copy; 2024 ~ <span id="year"></span>
        {" · "}
        <a href="/rss.xml" class="font-bold text-cyan-600 dark:text-cyan-300 underline">RSS</a>
      </div>
      <div>
        <div class="animate">
          Power by
          <a href="https://astro.build/" class="font-bold text-base text-emerald-700 dark:text-emerald-200">Astro</a>
          &
          <a href="https://github.com/markhorn-dev/astro-nano" class="font-bold text-base text-emerald-700 dark:text-emerald-200">Astro Nano</a>
        </div>
      </div>
    </div>
  </Container>
</footer>
