<div id="image-lightbox" class="image-lightbox" aria-hidden="true">
    <div class="image-lightbox__backdrop" data-close="true"></div>
    <figure
        class="image-lightbox__figure"
        role="dialog"
        aria-modal="true"
        aria-label="Image viewer"
    >
        <img class="image-lightbox__img" alt="" data-close="true">
        <figcaption class="image-lightbox__caption" hidden></figcaption>
    </figure>
</div>

<script>
import "../scripts/article-lightbox";
</script>
