---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

type Props = {
  title: string;
  description: string;
  headerVariant?: "default" | "article";
  headerDivider?: boolean;
};

const {
  title,
  description,
  headerVariant = "default",
  headerDivider = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title}`} description={description} />
  </head>
  <body>
    <Header variant={headerVariant} showDivider={headerDivider} />
    <main class="mt-12 sm:mt-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
