---
import BackToTop from "@components/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import SearchModal from "@components/SearchModal.astro";

type Props = {
    title: string;
    description: string;
    headerDivider?: boolean;
    lang?: string;
};

const { title, description, headerDivider = true, lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <Head title={`${title}`} description={description} />
    </head>
    <body>
        <Header showDivider={headerDivider} />
        <main class="mt-14 sm:mt-8"><slot /></main>
        <SearchModal />
        <Footer />
        <BackToTop />
    </body>
</html>
